.CTA_Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0;
}

.CallToAction_Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between;
    gap: 28px;
    padding: 56px 4%;
    flex: 1;
    color: #ffffff;
    z-index: 1;
    position: relative;
}

.AppWrapper {
    background: linear-gradient(180deg, rgb(119, 134, 244), rgba(58, 87, 174, 0.35));
}

.AppWrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../assets/header-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.MarketplaceWrapper {
    background: linear-gradient(180deg, rgba(53, 142, 181, 0.95), rgba(43, 10, 140, 0.95));
}

.MarketplaceWrapper::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../assets/header-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.1;
}

.CallToAction_Wrapper h2{
    font-size: 30px;
    color: rgb(4, 50, 203);
}
.CallToAction_Wrapper h2 span{
    color: var(--theme-color)
}
.Content{
    width: 70%;
}
.Content p{
    width: 80%;
    font-size: 14px;
    color: #000;
}
.image{
    width: 45%;
    cursor: pointer;
}
.image img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.6s ease;
}

.image img:hover{
    transform: scale(1.25);
}

.image img:active{
    transform: scale(0.85);
}


@media screen and (max-width: 768px){
    .CTA_Container{
        flex-direction: column;
    }
    .CallToAction_Wrapper{
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
    }
    .image{
        width: 50%;
    }
    .Content, .Content p{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .CallToAction_Wrapper h2{
       font-size: 20px;
    }
    .image{
        width: 80%;
    }
    .Content, .Content p{
        width: 100%;
    }
}