.Header_Wrapper {
    background: url(./../../assets/header-image.png);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 200px;
}

.Header_Wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255,255,255,0) 20%, rgba(0,0,0,1) 100%);
    z-index: 1;
}

.Header_Wrapper::before {
  content: '';
  position: absolute;
  left:0; top:0; width:48%;
  height:100%;
  background: linear-gradient(90deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
  z-index:2;
}

.Header_Wrapper .content {
    width: 100%;
    z-index: 9;
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 100px 1;
}

.Header_Wrapper .content small{
    color: var(--accent-color);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.Header_Wrapper .content h1 {
    color: var(--primary-color);
    font-size: 54px;
    line-height: 70px;
    text-transform: capitalize;
    font-weight: bold;
}

.Header_Wrapper .content h1 span{
    color: #fff;
    display: block;
}

.Header_Wrapper .content p {
    color: rgba(255,255,255,1);
    font-size: 15px;
    width: 40%;
}

.Header_Wrapper .content button{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.header_btns{
    display: flex;
    gap: 20px;
    align-items: center;
}

.clients_wrapper{
    display: flex;
    align-items: center;
}

.clients_wrapper span{
    margin-left: 20px;
    color: var(--accent-color);
    position: relative;
    font-weight: bold;
}

.clients_wrapper span::after{
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 1px;
    background-color: var(--accent-color);
    transition: .6s;
}

.clients_wrapper:hover span::after{
    width: 100%;
}

.clients_wrapper img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 -6px;
}

@media screen and (max-width:1500px) {
    .Header_Wrapper .content{
        margin: 60px 0;
    }

    .Header_Wrapper .content h1 {
        font-size: 55px;
        line-height: 65px;
   }
}

@media screen and (max-width:768px) {
    .Header_Wrapper{
        background-position-x: center;
    }

    .Header_Wrapper::after{
        background: radial-gradient(circle, rgba(255,255,255,0) -5%, rgba(0,0,0,1) 100%);
    }
}

@media screen and (max-width:500px) {
    .Header_Wrapper {
        padding-top: 180px;
    }
    .Header_Wrapper .content {
        margin-top: 0;
    }
    .Header_Wrapper .content small{
        text-align: center;
        margin-top: 0;
    }
    .Header_Wrapper .content h1 {
        color: var(--primary-color);
        font-size: 30px;
        line-height: 45px;
        margin: 2;
        text-align: center;
    }
    .Header_Wrapper .content p{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .Header_Wrapper .content button {
        font-size: 11px;
        padding: 8px 18px;
        white-space: nowrap;
    }
}