.footer_wrapper{
    display: grid !important;
    grid-template-columns: repeat(6,1fr);
    gap: 20px;
    background-color: var(--theme-color);
    color: #fff;
}

.footer_wrapper .footerLinks{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footerLinks h2 span{
    color: white ;
}

.footerLinks p, a{
    color: var(--accent-color);
    font-size: 14px;
}

.footerLinks a{
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.footerLinks a:hover{
    color: var(--primary-color);
}

.footerLinks a i{
    margin-right: 8px;
    font-size: 16px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.footerLinks a:hover i{
    transform: scale(1.2);
}

h2, h3{
    margin-bottom: 2px;
}

@media screen and (max-width:768px) {
    .footer_wrapper{
        grid-template-columns: repeat(2,1fr);
    }   
}

@media screen and (max-width:500px) {
    .footer_wrapper{
        grid-template-columns: repeat(1,1fr);
    }   
}