@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;

    font-family:'montserrat' ;
}

:root{
    --primary-color: #13099b;
    --secondary-color: #921c98;
    --accent-color: #00d9ff;
    --light-accent: #a8f0f8;
    --highlight-color: #4a148c;
    --bg-color: #f5f0e8;
    --theme-color: #1C1548;
}

body{
    background: rgb(242, 243, 243);
}

button{
    height: 40px;
    width: 130px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background: linear-gradient(60deg, var(--primary-color), var(--highlight-color));
    box-shadow: inset 0 6px 8px rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    background-size: 200%;
    cursor: pointer;
    transition: .6s;
    color: #fff;
}

button:hover{
    background-position: right;
    transform: scale(0.97);
}

button:active{
    transform: scale(0.85);
}

.section{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 100px 12%;
    width: 100%;
}

.section_title{
    font-family: 14px;
    color: var(--theme-color);
}