.nav_wrapper{
    height: 80px;
    width: 100%;
    background-color: rgba(0,0,0,0.35);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.nav_wrapper a:focus {
  outline: 3px solid var(--accent-color);
  outline-offset: 3px;
}

.nav_wrapper .logo a{
    font-size: 33px;
    font-weight: 600;
    color: #ffffff;
}

.nav_wrapper .logo a span{
    color: var(--primary-color);
}

.nav_wrapper ul li{
    display: inline-block;
    margin:  0 12px;
    font-size: small;
}

.nav_wrapper ul li a{
    color: #fff;
}

.nav_wrapper ul li:hover a{
    color: var(--primary-color);
}

.Nav_btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

#bars{
    height: 40px;
    width: 40px;
    background: linear-gradient(60deg, var(--primary-color), var(--highlight-color));
    border-radius: 5px;
    background-size: 200%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    transition: .6s;
    color: #fff;
    box-shadow: inset 0 6px 8px rgba(255, 255, 255, 0.15);

    display: none;
}

#bars:hover{
    background-position: right;
    transform: scale(0.90);
}

@media screen and (max-width:1200px) {
    #bars{
        display: flex;
}

    .nav_wrapper{
        border-bottom: 3px solid var(--primary-color);
    }

    .nav_wrapper ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1e1e1e;
        border-bottom: 3px solid var(--primary-color);
        height: 0;
        overflow: hidden;
        transition: 0.6s;
    }
    .nav_wrapper ul li{
        display: block;
        margin: 10px 0;
        padding: 20px 0;
        padding-left: 12%;
        border-bottom: 0.6px solid rgba(131, 131, 131, 0.15)
    }
    .nav_wrapper ul li:last-child{
        border: none;
    }
    .nav_wrapper .showMenu{
        height: 490px;
        transition: all 0.6s ease-in-out;   
    }
}

@media screen and (max-width:600px) {
    .nav_wrapper .logo a{
    font-size: 28px;
    font-weight: 300;
    margin-left: auto;
    color: #ffffff;
}

.nav_wrapper .logo a span{
    color: var(--primary-color);
}

.Nav_btns{
    display: flex;
    align-items: center;
    gap: 7px;
}
}